<div id="show" class="col-xs-12">
   <script>
        function getAddress() {
            GMaps.geocode({
              address: document.getElementById("address").value,
              callback: function(results, status) {
                if (status == 'OK') {
                  latlng = results[0].geometry.location;
                  mapObj.setCenter(latlng.lat(), latlng.lng());
                } else if (status == 'ZERO_RESULTS') {
                  alert('Sorry, no results found');
                }
              }
            });
        }
    </script> 
</div>